<h1 mat-dialog-title class="text-warning">Save product</h1>
<div mat-dialog-content>
  <!-- write a form add new product -->
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="product.name" placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="product.price" placeholder="Price">
  </mat-form-field>
  <mat-form-field *ngIf="data.method === 'create'">
    <mat-label>Amount</mat-label>
    <input matInput [(ngModel)]="product.amount" placeholder="Price">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="product.description" placeholder="Description"></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="data.type === 'pet'">
    <mat-label>Breed</mat-label>
    <mat-select matInput [(ngModel)]="selectedBreed">
      <mat-option *ngFor="let breed of breedList" [value]="breed">
        {{ breed.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.type === 'pet'">
    <mat-label>Gender</mat-label>
    <mat-select matInput [(ngModel)]="product.gender">
      <mat-option [value]="false">
        Male
      </mat-option>
      <mat-option [value]="true">
        Female
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.type === 'pet'">
    <mat-label>Origins</mat-label>
    <mat-select multiple matInput [(ngModel)]="selectedOrigins" [compareWith]="comparer">
      <mat-option *ngFor="let origin of originList" [value]="origin">
        {{ origin.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="data.type === 'pet'">
    <mat-label>Age</mat-label>
    <input matInput [(ngModel)]="product.age" placeholder="Age">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Image</mat-label>
    <ngx-mat-file-input [formControl]="fileControl" [multiple]="true">
    </ngx-mat-file-input>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category</mat-label>
    <mat-select matInput [(ngModel)]="selectedCategory">
      <mat-option *ngFor="let category of categoryList" [value]="category">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="saveProduct()" cdkFocusInitial>OK</button>
</div>